################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DBFirst_Car_Site/obj
/DBFirst_Car_Site/bin
/.vs
